{% import "lib/macros.html" as m %}

<!DOCTYPE html>
<html lang="{{state.locale}}">
	<head>
		<title>{{conf.site.title}} - {{ attribute(locale_data.pages, state.slug).title }}</title>
		<base href="//{{conf.site.url}}">
		<meta name="language" content="{{state.locale}}">
		<link rel="stylesheet" href="design/css/style.css">
	</head>
	<body>
		{% include "structure/header.html" %}
		
		{% block page %}
		{% endblock %}
	 	
	 	{% include "structure/footer.html" %}
	 	
	</body>
	{% block bottom_scripts %}
	{% endblock %}
</html>

